@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Bạn Không Có Quyền Truy Cập!</p>
        <a href="/logout.html">&larr; Đăng Nhập Lại Quyền Truy Cập</a>
    </div>

</div>