@model Demo.Models.Account

@{
    ViewData["Title"] = "Chỉnh Sửa Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="page-header">
			<div class="header-sub-title">
				<nav class="breadcrumb breadcrumb-dash">
					<a asp-area="Admin" asp-action="Index" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
					<a class="breadcrumb-item" asp-area="Admin" asp-action="Index" asp-controller="AdminAccounts">Chỉnh Sửa Tài Khoản</a>
					<span class="breadcrumb-item active">Chỉnh Sửa Tài Khoản</span>
				</nav>
			</div>
		</div>
        <form asp-action="Edit" asp-controller="AdminAccounts" asp-route-id="@Model.AccountId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountId" />
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số Điện Thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật Khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Chọn Quyền</label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở Lại</a>
</div>

