<div class="footer-area">
<div class="footer-area">
	<div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="widget-item">
						<div class="footer-logo pb-4">
							<a href="index.html">
								<img src="~/images/saches/iconbook.png" alt="Logo">
							</a>
						</div>
						<p class="short-desc mb-2">Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCMCông Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt NamFahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.</p>
						<div class="widget-contact-info pb-6">
							<ul>
								<li>
									<i class="pe-7s-map-marker"></i>
									60-62 Lê Lợi, Q.1, TP. HCM
								</li>
								<li>
									<i class="pe-7s-mail"></i>
									<a href="mailto://cskh@fahasa.com.vn">cskh@fahasa.com.vn</a>
								</li>
							</ul>
						</div>
						<div class="payment-method">
							<a href="javascript:void(0)">
								<img src="~/assets/images/payment/1.png" alt="Payment Method">
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
					<div class="widget-item">
						<h3 class="widget-title mb-5">Information</h3>
						<ul class="widget-list-item">
							<li>
								<a href="javascript:void(0)">FAQ</a>
							</li>
							<li>
								<a href="javascript:void(0)">Shipping</a>
							</li>
							<li>
								<a href="javascript:void(0)">Returns</a>
							</li>
							<li>
								<a href="javascript:void(0)">Order Status</a>
							</li>
							<li>
								<a href="javascript:void(0)">Gift Card Balance</a>
							</li>
							<li>
								<a href="javascript:void(0)">Accessibility</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
					<div class="widget-item">
						<h3 class="widget-title mb-5">Thông Tin Tài Khoản</h3>
						<ul class="widget-list-item">
							<li>
								<a href="javascript:void(0)">Thông Tin Tài Khoản</a>
							</li>
							<li>
								<a href="javascript:void(0)">Checkout</a>
							</li>
							<li>
								<a href="javascript:void(0)">Validation</a>
							</li>
							<li>
								<a href="javascript:void(0)">Wishlist</a>
							</li>
							<li>
								<a href="javascript:void(0)">Terms of Use</a>
							</li>
							<li>
								<a href="javascript:void(0)">FAQ</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
					<div class="widget-item">
						<h3 class="widget-title mb-5">Newsletters</h3>
						<p class="short-desc">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor.</p>
					</div>
					<div class="widget-form-area">
						<form class="widget-form" action="#">
							<input class="input-field" type="email" autocomplete="off" placeholder="Email của bạn">
							<div class="button-wrap pt-5">
								<button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Gửi Mail</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom py-3" data-bg-color="##ca95cd">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright">
						<span class="copyright-text text-white">© 2023 Fahasa Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">Linh</a> </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>