@model Demo.Models.Role

@{
	ViewData["Title"] = "Thông Tin Quyền Truy Cập";
	Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}
<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-action="Index" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" asp-area="Admin" asp-action="Index" asp-controller="AdminRoles">Danh Sách Truy Cập</a>
			<span class="breadcrumb-item active">Thông Tin Quyền Truy Cập</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h4 class="card-title">Thông Tin Quyền Truy Cập</h4>
		<div class="table-responsive">
			<table class="product-info-table m-t-20">
				<tbody>
					<tr>
						<td>ID:</td>
						<td class="text-dark font-weight-semibold">@Model.RoleId</td>
					</tr>
					<tr>
						<td>Tên Quyền:</td>
						<td>@Model.RoleName</td>
					</tr>
					<tr>
						<td>Mô Tả:</td>
						<td>@Model.Description</td>
					</tr>

			</table>
		</div>

	</div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>
