@{
	ViewData["Title"] = "Liên Hệ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
	<div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-12">
					<div class="breadcrumb-item">
						<h2 class="breadcrumb-heading">Liên Hệ</h2>
						<ul>
							<li>
								<a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
							</li>
							<li>Liên Hệ</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Begin Shipping Area -->
	<div class="shipping-area section-space-y-axis-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="shipping-item">
						<div class="shipping-img">
							<img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
						</div>
						<div class="shipping-content">
							<h5 class="title">Miễn Phí Vận Chuyển</h5>
							<p class="short-desc mb-0">Giao Hàng Tận Nơi</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 pt-6 pt-md-0">
					<div class="shipping-item">
						<div class="shipping-img">
							<img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
						</div>
						<div class="shipping-content">
							<h5 class="title">Hỗ Trợ Trực Tuyến</h5>
							<p class="short-desc mb-0">Hỗ Trợ 24/7</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
					<div class="shipping-item">
						<div class="shipping-img">
							<img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
						</div>
						<div class="shipping-content">
							<h5 class="title">Thanh Toán An Toàn</h5>
							<p class="short-desc mb-0">Hệ Thống Bảo Mật</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Shipping Area End Here -->

	<div class="contact-with-map">
		<div class="contact-map">
			<iframe class="contact-map-size" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2773734812445!2d106.68601367593259!3d10.790055189359569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cd4fd2ea21%3A0x88f5b452a8d876a8!2zTmjDoCBzw6FjaCBGQUhBU0EgVMOibiDEkOG7i25o!5e0!3m2!1svi!2s!4v1696062684222!5m2!1svi!2s" allowfullscreen="" loading="lazy" ></iframe>		
		</div>
		<div class="contact-form-area section-space-bottom-100">
			<div class="container">
				<div class="contact-form-wrap">
					<form id="contact-form" class="contact-form" action="https://whizthemes.com/mail-php/mamunur/harmic/harmic.php">
						<h4 class="contact-form-title pb-2 mb-7">Gửi Lời Nhắn Cho Chúng Tôi</h4>
						<div class="form-field">
							<input type="text" name="con_name" placeholder="Tên Khách Hàng*" class="input-field">
						</div>
						<div class="form-field mt-6">
							<input type="text" name="con_email" placeholder="Địa Chỉ Email*" class="input-field">
						</div>
						<div class="form-field mt-6">
							<textarea name="con_message" placeholder="Lời Nhắn" class="textarea-field"></textarea>
						</div>
						<div class="button-wrap mt-8">
							<button type="submit" value="submit" class="btn btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" name="submit">Gửi</button>
						</div>
						<p class="form-messege mt-3 mb-0"></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Main Content Area End Here -->
